<html>
<head>
	<link rel="Stylesheet" type="text/css" href="css/reset.css" />
	<link rel="Stylesheet" type="text/css" href="css/event-creation.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<title>SocialChair.Me</title>
</head>


<body>
	<div class="header">
		<div class="header-inner">
			<div class="logo"><a href="/"><img src="/images/logo-chair"></a></div>
		</div>
	</div>

	<div class="wrap">
		<div class="main">
			<div class="invite-title">Create a Facebook Event:</div>
			<form class="">
				<div class="row">
					<div class="row-label">Name</div><input type="text" class="input-text oversize" />
				</div>

				<div class="row">
					<div class="row-label">Details</div> <input type="textarea" class="input-text oversize" />
				</div>

				<div class="row">
					<div class="row-label">Where</div><input type="text" class="input-text oversize" />
				</div>

				<div class="row">
					<div class="row-label">Calendar</div>(Start, Stop) <input type="text" class="input-text" />
				</div>
			</div>



			
		</div>	
	</div>
	
	<div class="footer">
		<div class="footer-inner">
			<div class="send-event-inv"><div class="create-event-text">Create Event</div><div class="send-inv-arrow">></div>
		</div>
	</div>
</body>
</html>
